<!-- Config file for the game -->

<config>
  <app framerate_cap="30">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
    <camera x ="1000" y ="200"/> 
  </renderer>

  <font>
    <default_font filepath="fonts/Lotterdam.ttf"/>
  </font>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>
  
 <audio>
    <music>
      <folder>audio/music/</folder>
      <musicVolumeModifier value="0.3" />
    </music>
    <sfx> 
      <folder>audio/fx/</folder>
      <sfxVolumeModifier value="1" />
    </sfx>
  </audio>
 

 <map>
    <folder>maps/</folder>
    <level1>
	<music song="Island_Coconuts.ogg" />
	<initial_camera x="0" y="-435" />
    </level1>
    <level2>
	<music song="Video_Game_Soldiers.ogg" />
	<initial_camera x="0" y="-508" />
    </level2>
  </map>

  <scene>
   <camera_frame x="300" y="175" w="300" h="300" />
  </scene>

  <entities>
    <gravity value="925"/>
    <max_falling_speed value="-400"/>
    <player>
      <folder>sprites/characters</folder>
      <folder>audio/fx</folder>
      <dieFX source="Die.wav"/>
      <jumpFX source="JumpSoundEffect.wav"/>
      <jump2FX source="DoubleJumpFX.wav"/>
      <health value="100"/>
      <damage value="30"/>
      <position x="320" y="450" />
      <max_running_speed value="200"/>
      <acceleration value="75"/>
      <deceleration value="775"/>
      <jumpImpulse value="475"/>
      <doubleJumpImpulse value = "375" />
      <max_side_speed value="150"/>
      <enemy_bouncing value="300"/>
    </player>
    <walking_enemy>
      <folder>audio/fx</folder>
      <die2FX source="WalkingEnemyDie.wav"/>
      <Enemy_attackFX source="Enemy_attack.wav"/>
      <health value="100"/>
      <damage value="10"/>
      <running_speed value="100"/>
      <detection_range value="150" />
    </walking_enemy>
    <flying_enemy>
      <folder>audio/fx</folder>
      <die3FX source="FlyingEnemyDie.wav"/>
      <health value="100"/>
      <damage value="10"/>
      <flying_speed value="75"/>
      <detection_range value="300" />
    </flying_enemy>
	<collectible>
      <folder>audio/fx</folder>
      <coin_sound source="Coin.wav"/>
    </collectible>
  </entities>

  <particles>
    <folder>sprites/particles</folder>
    <dust source="particles.png"/>
  </particles>
 
 <gui>
    <image file="sprites/UI/UISheet.png"/>
	<clickFX source="audio/fx/UI/btnClick.wav"/>
 </gui>
</config>